<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Link Shortener</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <h1>🔗 Link Shortener</h1>
      <form method="POST" action="/shorten">
        <input
          type="text"
          name="long_url"
          placeholder="Paste your long URL here..."
          required
        />
        <br />
        <button type="submit">Shorten</button>
      </form>

      <% if (shortUrl) { %>
      <div class="result-card">
        <p class="label">Your short URL:</p>
        <div class="short-link-container">
          <a id="shortLink" href="<%= shortUrl %>" target="_blank"
            ><%= shortUrl %></a
          >
          <button class="copy-btn" onclick="copyToClipboard()">📋</button>
        </div>
        <p id="copy-msg" class="copy-msg" style="display: none">✅ Copied!</p>
      </div>
      <% } %>
      <footer class="footer">
        <hr />
        <a href="https://github.com/ovidiuchis/tug" target="_blank"
          >source code</a
        >
        | built by
        <a href="http://ovidiuchis.github.io/" target="_blank">@ovidiuchis</a>
      </footer>
    </div>

    <script>
      function copyToClipboard() {
        const link = document.getElementById("shortLink").href;
        navigator.clipboard
          .writeText(link)
          .then(() => {
            const msg = document.getElementById("copy-msg");
            msg.style.display = "inline";
            setTimeout(() => {
              msg.style.display = "none";
            }, 2000);
          })
          .catch(() => alert("Failed to copy"));
      }
    </script>
  </body>
</html>
